---
---

@import "{{ site.theme }}";

body {
   background-color: white;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 1.428571429;
 }

p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

.container {
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  display: block;
}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.container > .navbar-header, .container > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.container:after {
  clear: both;
  content: " ";
  display: table;
}

.navbar-header {
  width: 100%;
  float: left;
}

.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

.navbar > .container .navbar-brand {
  margin-left: -15px;
}

div.navbar-sitetitle {
  margin-top: 15px;
  max-width: 400px;
}

.navbar-sitetitle {
  padding-top: 5px;
}

div.navbar-sitetitle a {
  color: #B31B1B;
  font-size: 25px;
  text-decoration: none;
}

.navbar-tagline {
  font-size: small;
  margin-top: -2px;
  color: #1d0505;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #B31B1B;
  border-bottom-width: thick;
}

.navbar-inverse .navbar-brand {
  color: #f9faf9;
}

.navbar-fixed-top {
  z-index: 1030;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 thick 0;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

img.company-logo {
  width: 67px;
  height: 67px;
  vertical-align: middle;
  border: 0;
}


.post-header {
  margin: 100px 0 30px 20px;
}

h1.post-header {
  color: #1d0505;
}

.post-content {
  margin: 30px 0 30px 50px;
}

footer {
  text-align: right;
  border-top: 1px solid #B31B1B;
}

a.navbar {
  text-decoration: none;
}

div.post-content a {
  text-decoration: none;
  color: #B31B1B;
  cursor: pointer;
}

div.post-content a:hover {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #248EC2;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}
